<div class="container text-center mt-1">
  <button class="btn btn-outline-danger" *ngFor="let championship of selectedContent" (click)="setSelectedYear(championship.year)" clickable>
    {{championship?.year}}
  </button>

  <div class="d-flex justify-content-center mt-1">
    <ngb-pagination [collectionSize]=seasonsNumber [(page)]="page" [boundaryLinks]="true"></ngb-pagination>
  </div>
  <h5> Season : {{selectedYear}}</h5>
  <input type="checkbox" name="Constructors championship ?" [checked]="isConstructorChampionship"
    (change)="isConstructorChampionship = !isConstructorChampionship; setChampionshipByYear(selectedYear)">
  <label> Constructors championship ? </label>
</div>

<div class="container text-center" *ngIf="!isConstructorChampionship">
  <table class="table table-striped table-hover col-md-8">
    <tr>
      <th scope="col"> Position </th>
      <th scope="col"> Name </th>
      <th scope="col"> Nationality </th>
      <th scope="col"> Points </th>
      <th scope="col"> Wins</th>
    </tr>
    <tbody class="table-group-divider">
    <tr *ngFor="let championship of driverChampionship">
      <td> {{ championship?.position }}  </td>
      <td> {{ championship?.driver?.familyName }} {{ championship?.driver?.givenName }} </td>
      <td> {{ championship?.Constructor?.name }}  </td>
      <td> {{ championship?.points }}  </td>
      <td> {{ championship?.wins }}  </td>
    </tr>
  </tbody>
  </table>
</div>

<div class="container text-center" *ngIf="isConstructorChampionship">
  <h5> Season : {{selectedYear}}</h5> <input type="checkbox" [checked]="isConstructorChampionship" (change)="isConstructorChampionship = !isConstructorChampionship">
  <table class="table table-striped table-hover col-md-8">
    <tr>
      <th scope="col"> Position </th>
      <th scope="col"> Name </th>
      <th scope="col"> Nationality </th>
      <th scope="col"> Points </th>
      <th scope="col"> Wins</th>
    </tr>
    <tbody class="table-group-divider">
    <tr *ngFor="let championship of constructorChampionship">
      <td> {{ championship?.position }}  </td>
      <td> {{ championship?.Constructor?.name }}  </td>
      <td> {{ championship?.Constructor?.nationality }}  </td>
      <td> {{ championship?.points }}  </td>
      <td> {{ championship?.wins }}  </td>
    </tr>
  </tbody>
  </table>
</div>
