<app-select-year></app-select-year>


<div class="container text-center">
  <table class="table table-striped table-hover col-md-8">
    <tr>
      <th scope="col"> Code </th>
      <th> Permanent number </th>
      <th> Name </th>
      <th> Nationality </th>
      <th> Date Of Birth </th>
    </tr>
    <tbody class="table-group-divider">
    <tr *ngFor="let driver of drivers">
      <td> {{ driver?.code }}  </td>
      <td> {{ driver?.permanentNumber }}  </td>
      <td> {{ driver?.givenName }} {{ driver?.familyName }} </td>
      <td> {{ driver?.nationality }}  </td>
      <td> {{ driver?.dateOfBirth }}  </td>
    </tr>
  </tbody>
  </table>
</div>
